AquasatStream.rds              
aquaTestCONUS.rds    
aquastreamTSS.csv 
all_raw_tss.csv           
aquaTrainCONUS.rds  
aquasat_stream_tss.csv      
sr_wq_rs_join.csv
aquahuc5_sitesUnique.csv   
finePredImages/                  
modisMerge_timediff_TEST2.csv        
sagGaugeData
AquasatStream.csv                
aquasatHLS_huc5_ratio.csv        
modisTests                           
googleDriveTest/            
notAquasat_huc5_5.csv 
aquasat_huc5_ratio.csv     
hls_obs.csv                     
modelScript.py                        
r_gbVal.csv                          
validation.ipynb
aquaFusion_3Sites_modisA4.csv    
data_brdf_test/             
huc5_4sites/                     
modis9GA_rgb_huc5_8sites/              
r_gb_aquaFusion_16Sites_12_2022.csv  
validationImgs/
aquaFusion_4Sites_modis9GA.csv   
data_test/                  
merge_clean_fusion-ratio.ipynb  
modisA4_huc5_3sites/                   
rawMODIS_huc5_all/
gdrive/
WQPdata/
HUC05_tss_clean_map.rds
HUC05_aquaSNiP_map.rds
WQdata_AquaSNiP_cleaningFxns.ipynb