gdrive/
WQPdata/
WQdata_AquaSNiP_cleaningFxns.ipynb
HUC05_tss_clean_map.rds
HUC05_aquaSNiP_map.rds
*.rds
*.csv
AquasatStream.rds              
aquaTestCONUS.rds    
aquastreamTSS.csv 
all_raw_tss.csv           
aquaTrainCONUS.rds  
aquasat_stream_tss.csv      
sr_wq_rs_join.csv
aquahuc5_sitesUnique.csv   
finePredImages/                  
modisMerge_timediff_TEST2.csv        
sagGaugeData
AquasatStream.csv                
aquasatHLS_huc5_ratio.csv        
modisTests                           
googleDriveTest/            
notAquasat_huc5_5.csv 
aquasat_huc5_ratio.csv     
hls_obs.csv                     
modelScript.py                        
r_gbVal.csv                          
validation.ipynb
aquaFusion_3Sites_modisA4.csv    
data_brdf_test/             
huc5_4sites/                     
modis9GA_rgb_huc5_8sites/              
r_gb_aquaFusion_16Sites_12_2022.csv  
validationImgs/
aquaFusion_4Sites_modis9GA.csv   
data_test/                  
merge_clean_fusion-ratio.ipynb  
modisA4_huc5_3sites/                   
rawMODIS_huc5_all/
AllMatchups_2013-2023_clean.csv   
fusionStats_2013-2023.csv      
huc09_data\
AllMatchups_data\                  
huc10_data\
FusionNoMatchups\
huc11_data\
LS2\                                            
huc12_data\
fusion_huc07.ipynb             
huc13_data\
fusion_huc08.ipynb             
huc14_data\
WQP\                               
fusion_huc09.ipynb             
huc15_data\
WQP_NoMatchups\                    
fusion_huc11.ipynb             
huc16_data\
aquaFusion_model.joblib           
fusion_huc12.ipynb             
huc17_data\
aquaLS2_model.joblib              
fusion_huc13.ipynb             
huc18_data\
aquaSat_model.joblib              
fusion_huc15.ipynb             
huc19_data\
bandTSSValidation.ipynb           
fusion_hucGeneral-kfold.ipynb  
ls2Pred_LS2Model.csv
conusRes_Figures.ipynb            
fusion_hucGeneral.ipynb        
conus_linRegRes.csv              
huc01_data\                     
huc02_data\                     
huc05_data\                     
run_ex.sh\   
huc06_data\                     
test_ex.py\
huc07_data\
huc08_data\